---
import { hc } from 'hono/client'
import type { AppType } from 'api' // Imported from our workspace!

// Connect to the API running on port 3000
const client = hc<AppType>('http://localhost:3000')

// This call is fully typed. If you change the API, this errors!
const res = await client.index.$get()
const data = await res.json()
---

<h1>Astro + Hono</h1>
<p>Message from API: {data.message}</p>